.container {
  display: flex;
  width: 100vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 1;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 400px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(5) {
    display: none;
  }
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    transition: flex 0.7s ease-in;
  }

  .panel.active {
    flex: 1.5;
  }

  .panel h3 {
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    margin: 0;
    opacity: 1;
    font-weight: semibold;
  }
}
