.bg-whyUS {
  background-image: url("../../../src/assets/SimpleShiny.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ReactModal__Content,
.ReactModal__Content--after-open {
  padding: 0;
}

::placeholder {
  color: black !important;
}
