/* .swiper-button-next,
.swiper-button-prev {
  padding: 50px;
} */
.swiper-button-next {
  background-image: url("../../assets/right.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  padding: 30px;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url("../../assets/left.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  padding: 30px;
}

.swiper-button-prev::after {
  display: none;
}

.swiper {
  z-index: 0;
}
