@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,200;6..72,300;6..72,400;6..72,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-contact {
    @apply mt-[20px] px-[70px] py-[16px] bg-white text-black font-semibold rounded-full text-xl transition-all duration-[750ms] ease-in-out;
  }
  .button-contact:hover {
    @apply bg-black text-white;
  }

  .navBarCustom {
    @apply relative before:content-[''] before:absolute before:block before:w-full inline-block before:h-[2px] 
              before:bottom-0 before:left-0 before:bg-white before:text-white hover:text-white
              before:hover:scale-x-100 before:scale-x-0 before:origin-top-left
              before:transition before:ease-in-out before:duration-500 pb-[4px];
  }
  .abouth1 {
    @apply text-xl font-semibold;
  }
}

@layer components {
  .bgColorGray2 {
    @apply bg-[#e9ecef] text-black;
  }
}
