@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-contact {
    @apply mt-[20px] px-[70px] py-[16px] bg-white text-black font-semibold rounded-full text-xl transition-all duration-[750ms] ease-in-out;
  }
  .button-contact:hover {
    @apply bg-black text-white;
  }

  .aboutUSDIV {
    @apply grid place-content-center md:px-[450px] px-[25px]  overflow-hidden text-white;
  }
  .aboutUSH {
    @apply md:text-5xl text-2xl font-bold text-center;
  }
  .aboutUSP {
    @apply md:text-4xl text-xl mt-[26px] border-y-[6px] md:py-[50px] py-[30px] text-center leading-[35px];
  }
  .navBarCustom {
    @apply hover:text-red-400 hover:scale-105 transition-all duration-500 ease-in-out text-white;
  }
}
